@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;

  overflow-y: scroll;
  overflow-x: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  background: #f3f3f2;
}

.header {
  height: 150px;
  background-color: #048281;
}

.header h1 {
  text-align: center;

  color: #fff;
  padding-block: 20px 40px;
}

.output-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-inline: 11.5%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #fffffe;

  width: 350px;
  height: 150px;

  padding: 20px 5px;
  margin-top: -50px;

  border-radius: 7px;
}

.box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding-inline: 20%;
}

.box-top p {
  font-size: 20px;
}

.box-top i {
  font-size: 20px;
}

.box p:nth-child(2) {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 25px;

  margin: 40px 11.5%;

  background-color: #fffffe;

  border-radius: 7px;
}

.description,
.value {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 5px;

  border: none;
  border-radius: 7px;
  border: 1px solid #c1c1c1;
}

input:focus {
  outline: none;
}

.options {
  display: flex;
  gap: 10px;
}

button {
  padding: 15px;
  text-transform: uppercase;

  border: none;
  border-radius: 7px;

  color: #fff;
  background-color: #048281;

  cursor: pointer;
}

.movements-list {
  padding-block: 25px;

  margin-inline: 11.5%;
  padding-inline: 8%;
  margin-bottom: 40px;

  background-color: #fffffe;

  border-radius: 7px;
  height: 350px;
  overflow-y: scroll;
}

.movements-header {
  display: grid;
  grid-template-columns: 15% 35% 10% 35%;
}

.movements-header p {
  font-weight: bold;
  text-align: center;
}

hr {
  margin-block: 10px 20px;
}

.movements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* padding-bottom: 20px; */
}

.movements:hover {
  border: 1px solid #c1c1c1;
  border-radius: 7px;
}

.movements p {
  width: 100px;

  text-align: center;
  word-wrap: break-word;
}

@media (max-width: 800px) {
  .output-boxes {
    padding-inline: 20px;
  }

  form {
    flex-direction: column;
    gap: 20px;
  }

  .movements-header {
    grid-template-columns: 25% 30% 5% 35%;
  }
}

@media (max-width: 550px) {
  .output-boxes {
    flex-wrap: wrap;
    gap: 60px;
  }

  .box p:nth-child(2) {
    font-size: 22px;
  }

  .movements-header {
    display: flex;
    justify-content: space-around;
  }

  .movements {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}
